<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Multiple Choice Questions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <style>
        body {
            background: rgb(1, 194, 194)
        }

        #scoreBoard {
            float: left;
            width: 300px;
            margin-left: 50px;
            background-color: azure;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            position: fixed;
        }

        .top-separator-line {
            border-top: 1px solid lightgrey;
        }

        #container {
            width: 600px;
            margin: 20px auto;
            background-color: azure;
            padding: 20px;
            border-radius: 8px;
        }

        #title {
            margin-bottom: 10px;
            text-align: center;
        }

        #module_name {
            margin-bottom: 20px;
            text-align: center;
        }

        .question {
            margin-bottom: 20px;
        }

        .fixedElement {
            float: right;
            width: 180px;
            margin-top: 20px;
            margin-left: 75.5%;
            background-color: azure;
            padding: 20px;
            border-radius: 8px;
            position: fixed;
            top: 0;
            text-align: center;
        }
    </style>
</head>
  
<body>
    <div id="scoreBoard">
        <label style="font-weight: bold;">Highest Score</label><br>
        <div class="col top-separator-line">
            <label class="row" style="padding-top: 5px;" for="">1. Joseph 10/10</label>
            <label class="row" for="">2. Joe 9/10</label>
            <label class="row" for="">3. Ron 8/10</label>
        </div>
    </div>

    <div id="container">
        <h2 id="title">Multiple Choice Questions</h2>
        <h4 id="module_name">Topic: {{module.module_name}}</h4>

        <div class="question">
            {% for qn in question|slice:"0:1" %}
            <p>1. {{qn.question_text}}</p>
                {% for c in choice|first %}
                <fieldset style="margin: 1% 2%">
                    <input type="radio" name="group0" value="{{c.choice_text1}}"> {{c.choice_text1}}</input><br>
                    <input type="radio" name="group0" value="{{c.choice_text2}}"> {{c.choice_text2}}</input><br>
                    <input type="radio" name="group0" value="{{c.choice_text3}}"> {{c.choice_text3}}</input><br>
                    <input type="radio" name="group0" value="{{c.choice_text4}}"> {{c.choice_text4}}</input>
                    <input type="radio" id="answer0" value="{{c.answer_text}}" hidden></input>
                </fieldset>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="question">
            {% for qn in question|slice:"1:2" %}
            <p>2. {{qn.question_text}}</p>
                {% for c in choice %}
                    {% for i in c %}
                        {% if qn.id == i.id %}
                        <fieldset style="margin: 1% 2%">
                            <input type="radio" name="group1" value="{{i.choice_text1}}"> {{i.choice_text1}}</input><br>
                            <input type="radio" name="group1" value="{{i.choice_text2}}"> {{i.choice_text2}}</input><br>
                            <input type="radio" name="group1" value="{{i.choice_text3}}"> {{i.choice_text3}}</input><br>
                            <input type="radio" name="group1" value="{{i.choice_text4}}"> {{i.choice_text4}}</input>
                            <input type="radio" id="answer1" value="{{i.answer_text}}" hidden></input>
                        </fieldset>
                        {% endif %}
                    {% endfor %} 
                {% endfor %} 
            {% endfor %}
        </div>

        <div class="question">
            {% for qn in question|slice:"2:3" %}
            <p>3. {{qn.question_text}}</p>
                {% for c in choice %}
                    {% for i in c %}
                        {% if qn.id == i.id %}
                        <fieldset style="margin: 1% 2%">
                            <input type="radio" name="group2" value="{{i.choice_text1}}"> {{i.choice_text1}}</input><br>
                            <input type="radio" name="group2" value="{{i.choice_text2}}"> {{i.choice_text2}}</input><br>
                            <input type="radio" name="group2" value="{{i.choice_text3}}"> {{i.choice_text3}}</input><br>
                            <input type="radio" name="group2" value="{{i.choice_text4}}"> {{i.choice_text4}}</input>
                            <input type="radio" id="answer2" value="{{i.answer_text}}" hidden></input>
                        </fieldset>
                        {% endif %}
                    {% endfor %} 
                {% endfor %} 
            {% endfor %}
        </div>

        <div class="question">
            {% for qn in question|slice:"3:4" %}
            <p>4. {{qn.question_text}}</p>
                {% for c in choice %}
                    {% for i in c %}
                        {% if qn.id == i.id %}
                        <fieldset style="margin: 1% 2%">
                            <input type="radio" name="group3" value="{{i.choice_text1}}"> {{i.choice_text1}}</input><br>
                            <input type="radio" name="group3" value="{{i.choice_text2}}"> {{i.choice_text2}}</input><br>
                            <input type="radio" name="group3" value="{{i.choice_text3}}"> {{i.choice_text3}}</input><br>
                            <input type="radio" name="group3" value="{{i.choice_text4}}"> {{i.choice_text4}}</input>
                            <input type="radio" id="answer3" value="{{i.answer_text}}" hidden></input>
                        </fieldset>
                        {% endif %}
                    {% endfor %} 
                {% endfor %} 
            {% endfor %}
        </div>

        <div class="question">
            {% for qn in question|slice:"4:5" %}
            <p>5. {{qn.question_text}}</p>
                {% for c in choice %}
                    {% for i in c %}
                        {% if qn.id == i.id %}
                        <fieldset style="margin: 1% 2%">
                            <input type="radio" name="group4" value="{{i.choice_text1}}"> {{i.choice_text1}}</input><br>
                            <input type="radio" name="group4" value="{{i.choice_text2}}"> {{i.choice_text2}}</input><br>
                            <input type="radio" name="group4" value="{{i.choice_text3}}"> {{i.choice_text3}}</input><br>
                            <input type="radio" name="group4" value="{{i.choice_text4}}"> {{i.choice_text4}}</input>
                            <input type="radio" id="answer4" value="{{i.answer_text}}" hidden></input>
                        </fieldset>
                        {% endif %}
                    {% endfor %} 
                {% endfor %} 
            {% endfor %}
        </div>

        <div class="question">
            {% for qn in question|slice:"5:6" %}
            <p>6. {{qn.question_text}}</p>
                {% for c in choice %}
                    {% for i in c %}
                        {% if qn.id == i.id %}
                        <fieldset style="margin: 1% 2%">
                            <input type="radio" name="group5" value="{{i.choice_text1}}"> {{i.choice_text1}}</input><br>
                            <input type="radio" name="group5" value="{{i.choice_text2}}"> {{i.choice_text2}}</input><br>
                            <input type="radio" name="group5" value="{{i.choice_text3}}"> {{i.choice_text3}}</input><br>
                            <input type="radio" name="group5" value="{{i.choice_text4}}"> {{i.choice_text4}}</input>
                            <input type="radio" id="answer5" value="{{i.answer_text}}" hidden></input>
                        </fieldset>
                        {% endif %}
                    {% endfor %} 
                {% endfor %} 
            {% endfor %}
        </div>

        <div class="question">
            {% for qn in question|slice:"6:7" %}
            <p>7. {{qn.question_text}}</p>
                {% for c in choice %}
                    {% for i in c %}
                        {% if qn.id == i.id %}
                        <fieldset style="margin: 1% 2%">
                            <input type="radio" name="group6" value="{{i.choice_text1}}"> {{i.choice_text1}}</input><br>
                            <input type="radio" name="group6" value="{{i.choice_text2}}"> {{i.choice_text2}}</input><br>
                            <input type="radio" name="group6" value="{{i.choice_text3}}"> {{i.choice_text3}}</input><br>
                            <input type="radio" name="group6" value="{{i.choice_text4}}"> {{i.choice_text4}}</input>
                            <input type="radio" id="answer6" value="{{i.answer_text}}" hidden></input>
                        </fieldset>
                        {% endif %}
                    {% endfor %} 
                {% endfor %} 
            {% endfor %}
        </div>

        <div class="question">
            {% for qn in question|slice:"7:8" %}
            <p>8. {{qn.question_text}}</p>
                {% for c in choice %}
                    {% for i in c %}
                        {% if qn.id == i.id %}
                        <fieldset style="margin: 1% 2%">
                            <input type="radio" name="group7" value="{{i.choice_text1}}"> {{i.choice_text1}}</input><br>
                            <input type="radio" name="group7" value="{{i.choice_text2}}"> {{i.choice_text2}}</input><br>
                            <input type="radio" name="group7" value="{{i.choice_text3}}"> {{i.choice_text3}}</input><br>
                            <input type="radio" name="group7" value="{{i.choice_text4}}"> {{i.choice_text4}}</input>
                            <input type="radio" id="answer7" value="{{i.answer_text}}" hidden></input>
                        </fieldset>
                        {% endif %}
                    {% endfor %} 
                {% endfor %} 
            {% endfor %}
        </div>

        <div class="question">
            {% for qn in question|slice:"8:9" %}
            <p>9. {{qn.question_text}}</p>
                {% for c in choice %}
                    {% for i in c %}
                        {% if qn.id == i.id %}
                        <fieldset style="margin: 1% 2%">
                            <input type="radio" name="group8" value="{{i.choice_text1}}"> {{i.choice_text1}}</input><br>
                            <input type="radio" name="group8" value="{{i.choice_text2}}"> {{i.choice_text2}}</input><br>
                            <input type="radio" name="group8" value="{{i.choice_text3}}"> {{i.choice_text3}}</input><br>
                            <input type="radio" name="group8" value="{{i.choice_text4}}"> {{i.choice_text4}}</input>
                            <input type="radio" id="answer8" value="{{i.answer_text}}" hidden></input>
                        </fieldset>
                        {% endif %}
                    {% endfor %} 
                {% endfor %} 
            {% endfor %}
        </div>

        <div class="question">
            {% for qn in question|slice:"9:10" %}
            <p>10. {{qn.question_text}}</p>
                {% for c in choice %}
                    {% for i in c %}
                        {% if qn.id == i.id %}
                        <fieldset style="margin: 1% 2%">
                            <input type="radio" name="group9" value="{{i.choice_text1}}"> {{i.choice_text1}}</input><br>
                            <input type="radio" name="group9" value="{{i.choice_text2}}"> {{i.choice_text2}}</input><br>
                            <input type="radio" name="group9" value="{{i.choice_text3}}"> {{i.choice_text3}}</input><br>
                            <input type="radio" name="group9" value="{{i.choice_text4}}"> {{i.choice_text4}}</input>
                            <input type="radio" id="answer9" value="{{i.answer_text}}" hidden></input>
                        </fieldset>
                        {% endif %}
                    {% endfor %} 
                {% endfor %} 
            {% endfor %}
        </div>

        <div class="form_row" style="text-align: center;">
            <button class="btn btn-danger" style="margin:4px; font-size: 15px" type="reset"
                onclick="resetAll()">Reset</button>
            <button class="btn btn-primary" style="margin:4px; font-size: 15px" onclick="returnScore()">Submit</button>
        </div>
    </div>

    <div class="fixedElement">
        <label id="score" for="score"><span style="font-weight: bold;">Score</span>: 0/10</label>
    </div>

    <script>
        function resetAll() {
            window.location.reload();
            $(document).ready(function(){
                $(this).scrollTop(0);
            });
        }

        // store each selected choice
        var answer1 = $('#answer0').val()
        var answer2 = $('#answer1').val()
        var answer3 = $('#answer2').val()
        var answer4 = $('#answer3').val()
        var answer5 = $('#answer4').val()
        var answer6 = $('#answer5').val()
        var answer7 = $('#answer6').val()
        var answer8 = $('#answer7').val()
        var answer9 = $('#answer8').val()
        var answer10 = $('#answer9').val()

        var answers = [answer1, answer2, answer3, answer4, answer5, answer6, answer7, answer8, answer9, answer10] 
        tot = answers.length;

        // compare the answer one by one
        function getCheckedValue( radioName ){
            var radios = document.getElementsByName( radioName ); // Get radio group by-name
            for(var y=0; y<radios.length; y++)
            if(radios[y].checked) return radios[y].value; // return the checked value
        }

        // store the score once the answer correct
        function getScore(){
            var score = 0;
            for (var i=0; i<tot; i++)
                if(getCheckedValue("group"+i)===answers[i]) score += 1; // increment only
            return score;
        }

        function returnScore(){
            document.getElementById("score").innerHTML = "Your score is "+ getScore() +"/"+ tot;
        }
    </script>
</body>

</html>